@charset "utf-8";
/* 메인메뉴 */


/*전체*/
#main_navi_wrap{
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 5;
    width: 100%;
    height: 0;
    max-width: 1920px;
}
.main_navi_wrap_z{z-index: 0;}
#main_navi{
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 50%;
    display: flex;
    background-color: #bf0000;
    width: 100%;
    max-width: 1920px;
    height: 60px;
    transform: translateX(-50%);
}
.navi_blank{flex-grow: 1;} /* 좌우 여백*/


/* 상위메뉴 */
.sup{
    flex-grow: 0;
    height: 60px;
}
.sup>li{
    flex-grow: 0;
    position: relative;
    width: 150px;
    height: 60px;
    font-weight: bold;
    margin: 0 10px;
}
.sup>li>a{
    color: white; 
    line-height: 60px;
    letter-spacing: 0.32em;
    text-align: center;
}
.navi_blank_li{
    flex-grow: 1;
    max-width: 100px;
}


/* 하위메뉴 */
.sub{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}
.sub li{
    display: inline-block;
    color: rgba(33,33,33,0.75);
}
.sub li a:hover{color: #000;}




/* 딜리버리 */
@keyframes deli_icon_ani {
    0%{transform: translateY(0);}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(0);}
}
.deli_icon{
    position: fixed;
    right: 25px;
    bottom: 75px;
    cursor: pointer;
    animation: deli_icon_ani 2s ease-in-out infinite;
}
.deli_icon:hover{animation-play-state: paused;}